version https://git-lfs.github.com/spec/v1
oid sha256:99e6c7f4cb55dd752f8830f3bbd9315b00e6dcd095a69a8d6ff44e1cece5982c
size 578
*.csv filter=lfs diff=lfs merge=lfs -text
*.sav filter=lfs diff=lfs merge=lfs -text
